---
layout: page
title: "About"
description: "从前的那个我 如果来找现在的我 会得到很好的款待"
header-img: "img/root/about-bg-walle.jpg" 
multilingual: true
---

    <!-- canvas-nest.min.js -->   
<script type="text/javascript" color="245,230,213" opacity='0.7' zIndex="-2" count="99" src="../../../../js/canvas-nest.min.js"></script>

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->           
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>










        <section>
            <div class="about-me">
                <div class="text-center">
                <img class="unselectable" src="../../../../img/about/about-me.png" height="100" width="550">
                <br><br>
                </div>
                <div class="clearfix"></div>
                <div class="about-me__content" id="terminal-start">
                    <p>Last login: Thu Oct 12 00:28:38 2017 from cpe44d9e79bd14b-cma84e3fd1a7d0.cpe.net.cable.rogers.com</p>

<pre style="border: none;">
         __|  __|_  )
         _|  (     /   Amazon Linux AMI
        ___|\___|___|

Amazon Linux version 2017.09 is available.
</pre>

                    <br><br>
                    <div class="command">
                        <!-- email -->
                        <p>echo $email</p>
                        <span class="hideme">email: dhuan023@gmail.com</span>
                        <!-- phone -->
                        <p>echo $phone</p>
                        <span class="hideme">phone: (647)-927-XXXX</span>
                        <!-- address -->
                        <p>echo $address</p>
                        <span class="hideme">address: Ottawa, ON, Canada</span>
                        <!-- education -->
                        <p>echo $education</p>
                        <span class="hideme">University of Ottawa • 2009 - 2014<br>
                        BSc: Specialization in Computer Science; Minor in Economics;</span>
                        <!-- eligible_to_work -->
                        <p>echo $eligible_to_work</p>
                        <span class="hideme">I'm Permanent Resident of Canada since 2006</span>
                    </div>
                </div>
            </div>
        </section>










{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


<!--{% if site.livere_uid %}
<!-来必力City版安装代码 -->
<!--<div id="lv-container" data-id="city" data-uid="livere_uid">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<!-City版安装代码已完成 -->
<!--
{% endif %}
 -->

